.navbar {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  align-items: center;
}
.logo {
  height: 50px;
  width: 50px;
}

ul {
  display: flex;
}
ul li {
  list-style-type: none;
  margin-right: 10px;
}
/* flex --> block to inline */
/* grid --> inline to block  */
